@import url('https://fonts.cdnfonts.com/css/made-tommy-soft-outline?styles=59309,59310,59307,59308,59305,59306,59304');
body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
.main{
    background-color: white;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
.container{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}
.header{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: flex-end;
}
.header-content{
    width: 55%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    height: 50%;
}
.login-button{
    width: 20%;
    color: white;
    height: 35%;
    background-color: #4671C7;
    margin-right: 5%;
    border: none;
    border-radius: 10px;
    font-size: 1.2vmax;
    font-weight: 700;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    cursor: pointer;
}
.text-box{
    width: 50%;
    background-color: white;   
}
.subtittle{
    color: #040454;
    font-weight: 800;
}
.button-contato{
    width: 35%;
    height: 8vh;
    color: white;
    font-size: 1.2vmax;
    border: 2px solid #4671C7;
    border-radius: 10px;
    background: #4671C7;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-weight: 700;
    cursor: pointer;
}
.content1{
    width: 100%;
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content-text{
    font-family: 'MADE Tommy Soft';
    width: 45%;
    height: 55%;
    line-height: 4vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.content-tittle{
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
}
.tecnico{
    width: 50%;
}
.title{
    color: black;
    font-size: 2.5vmax;
    font-weight: 600;
    line-height: 6vh;
}
.home-text{
    color: #040454;
    font-size: 1.3vmax;
    font-weight: 300;
}
.onda{
    width: 99vw;
}
.content2{
    width: 99vw;
    height: 100vh;
    background-color: #040454;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.retangulo{
    width: 30%;
}
.container2{
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    line-height: 10vh;
    height: 400vh;
}
.text-box2{
    display: flex;
    flex-direction: column;
    margin-right: 5%;
    width: 50%;
    color: white;
    font-family: 'MADE Tommy Soft';
    font-size: 1vmax;
    font-weight: 400;
    line-height: 4vh;
}
.title-2{
    font-size: 2vmax;
    margin-bottom: 4%;
    font-weight: 700;
}

.main2{
    width: 99vw;
    background-color: #040454;
}

.content3{
    background-color: aliceblue;
    width: 99vw;
    display: flex;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-box3{
    width: 90%;
    display: flex;
    text-align: justify;
    flex-direction: column;
    margin-top: 5%;
}

.title-3{
    font-size: 2vmax;
    margin-bottom: 2%;
    font-weight: 700;
    color: #2E4CAD;
    margin-top: 2%;
    font-family: 'MADE Tommy Soft';
}

.text-3{
    color: #2E4CAD;
    font-size: 2.5vh;
}

.step-by-step{
    width: 80%;
    display: flex;
    flex-direction: row;
    margin-top: 3%;
    align-items: center;
    justify-content: center;
}

.step-by-step img {
    width: 15%;
}

.values-box{
    width: 90%;
    border: solid 2px #040454;
    border-radius: 15px;
    margin: 5% 0 5% 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.values{
    margin: 1% 0 1% 0;
    width: 98%;
    border-radius: 15px;
    background-color: #040454;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
}

.title_value{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 2%;
}

.title-4{
    margin-top: 2%;
    font-size: 3vh;
    font-family: 'MADE Tommy Soft';
}

.cards-values{
    margin: 5% 0 5% 0;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cards-values img {
    width: 20vh;
}

.card{
    text-align: center;
    width: 25%;
    height: 50vh;
    border-radius: 15px;
    border: solid 2px white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 5vh 0 5vh;
}

.img-values{
    height: 25vh;
}



.info-values{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    width: 80%;
}

.title-cards{
    font-family: 'MADE Tommy Soft';
    margin-top: 2%;
}

.client {
    margin-top: 25%;
}

.footer-value{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 2%;
}

.circle-white{
    margin: 0 1% 0 1%;
    border-radius: 40vh;
    height: 2vh;
    width: 2vh;
    background-color: white;
    display: flex;
}