@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.main {
    display: flex;
}

#sidebar {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 5vw;
    background-color: #040454;
    transition: width 0.3s;
    align-items: center;
    justify-content: space-between;
    position: absolute;
}

.menuEmbaixo {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 5vw;
}

.itensMenu {
    display: flex;
    flex-direction: column;
    height: 85%;
    justify-content: center;
}

.sidebar-item span{
    font-size: 15px;
    font-weight: 500;
}

.sidebar-logo{
    width: auto;
    display: flex;
    justify-content: center;
}
.logo{
    width: 75px;
    margin-top: 18%;
}

#sidebar:hover {
    width: 15%;
    z-index: 1;
}

.sidebar-item {
    height: 10%;
    width: 100%;
    display: flex;
    margin-top: 10px;
    align-items: center;
    transition: background-color 0.3s;
}

.sidebar-sair {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
}


.sidebar-icon {
    width: 40px;
    height: 40px;
}

.sidebar-text {
    display: none;
    margin-left: 10%;
    font-size: 1.2rem;
    color: white;
    text-align: center;
}

#sidebar:hover .sidebar-text {
    display: flex;
}

.conteudoPrincipal {
    width: 95vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.header {
    height: 8%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    width: 95%;
}

.conteudoEmpresa {
    display: flex;
    flex-direction: column;
}

.conteudoEmpresa h1{
    margin: 0;
    font-size: 20px;
}