body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

#sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 5%;
    background-color: #040454;
    transition: width 0.3s;
    padding-top: 2%;
}
.sidebar-itens{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
    align-self: center;
    margin-top: 20%;
}
/* animação
#sidebar:hover {
    width: 10%;
}
 */
.sidebar-item {
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
}

.sidebar-item:hover {
    background-color: rgba(95, 95, 170, 0.76);
}

.sidebar-icon {
}
