.areaTitulo {
    width: 100%;
    padding-left: 2%;   
}

.titulo {
    font-weight: 700;
    font-size: 22px;
    color: #040454;
}

.busca {
    width: 95%;
    margin-top: 1%;
    display: flex;
    flex-direction: row;
}

.busca input {
    width: 100%;
    border-radius: 8px;
    border: 1px solid #D1D1D1;
    font-size: 1rem;
    padding-left: 1%;
}

.busca input :focus, input:focus, select:focus {
    border: 1px solid #D1D1D1;
    outline: 0;
} 

.busca .lupa {
    background-color: #040454;
    border-radius: 5px;
    border: none;
    padding: 0 10px 0 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lupa:hover {
    background-color: #030337;
}

.busca .filtro {
    background-color: white;
    border-radius: 5px;
    border: solid 1px gray;
    padding: 0 7px 0 7px;
    cursor: pointer;
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filtro:hover{
    background-color: rgb(232, 227, 227);
}

.adicionar {
    width: 8%;
    margin-top: 1%;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 4vh;
    border-radius: 8px;
    border: 1px solid #D1D1D1;
    background-color: #040454;
    color: white;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
}

.adicionar:hover {
    background-color: #030337;
}

.adicionar img {
    margin-right: 5px;
}

.adicionar img:hover {
    background-color: #030337;
}


.listaEmpresas {
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;    

}

.cardEmpresa {
    width: 95%;
    height: 18%;
    border: solid 1px gray;
    border-radius: 10px;
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.informacoes {
    display: flex;
    flex-direction: row;
    width: 85%;
    padding-left: 2%;
}

.dados {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
}

.titleDados {
    font-size: 1rem;
    color: gray;
}

.resultDados {
    font-size: 1.4rem;
    color: #040454;
    font-weight: bold;
}

.acoes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.acoes a {
    margin-right: 15px;
    margin-top: 5px;
}

.acoes a img:hover{
    background-color: rgb(232, 227, 227);
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px 0;
    height: 5%;
    font-weight: 400;
    line-height: 16px;
    color: #5C5C5C;
}

.page-num, .prev-page, .next-page {
    width: 2%;
    height: 70%;
    margin: 0 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    background-color: #F3F4F6;
    border: none;
    padding: 5px;
}
